*.lnk
*.bin
archive/
tests/
chroma_db/
.vscode
.DS_Store
~$*
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/
*.log
*.out
config.ini
secrets.json
dist/
build/
*.egg-info/
.idea/
.vscode/
*.swp
*.swo
.ipynb_checkpoints/
